.completed {
  text-decoration: line-through;
  color: gray;
}

.listItem-li {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 5fr 0.6fr 0.6fr;
}

.listItem-li button {
  background: none;
  border: none;
  cursor: pointer;
  margin: auto;
  padding-bottom: 0;
  margin-bottom: 6px;
  transition-duration: 150ms;
  transition-timing-function: ease-in;
}

.listItem-li input {
  margin: auto;
  transition: ease-out 100ms;
}

.listItem-li input:hover,
.listItem-li button:hover {
  border-bottom: 2px black solid;
}



